body {
    text-align: center;
    margin: 100px;
    background-color: beige;
}

h1 {
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    font-size: 28px;
}

.start-button {
    border-radius: 1rem;
}

.view-scores {
    font-size: 20px;
    display: flex;
}

.enter-name {
    display:none;
}

.view-start {
    display: none;
    font-size: 20px;
}

.time {
    white-space: nowrap;
    text-align: right;
    font-weight: bolder;
    font-size: 30px;
}

.results {
    display: flex;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.time * {
    display: inline;
}

.option-boxes * {
    margin: 10px;
    padding: 4px 30px;
    border-radius: 1px;
}

.option-button {
    font-size: 20px;
}


